
* {
  box-sizing: border-box;
}

/* The hero image */
.lazy-background {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("./../img/loading.webp"); */
  width: 1440px;
  height: 580px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1440px 580px;
  position: relative;
  aspect-ratio: 1440 / 580;
}

/* Place text in the middle of the image */
.hero-text {
  position: absolute;
  top: 20%;
  /* text-align: center;
  /* transform: translate(-50%, -50%); */
  width: 600px;
  height: 325px;
  color: #333333;
  background-color: rgba(255,255,255,0.6);
  padding: 4rem;
  max-width: 600px;
}

.hero-text.left {
  left: 10%;
}

.hero-text.right {
  left: 50%;
}

.hero-text .pre-header {
  height: 32px;
  width: 472px;
  overflow: hidden;
}

.hero-text .header {
  height: 32px;
  width: 472px;
  overflow: hidden;
}

.hero-text .text {
  height: 64px;
  width: 472px;
  overflow: hidden;
}
