.mini-header {
  background-color: #ddd;
  width: 100%;
  position: absolute;
  top: -42px;
  transition: all 0.5s;
  z-index: 1;
}
.mini-header-content {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  /* padding: 16px; */
}
.mini-h2 {
  padding: 4px 0px 0px 0px;
  margin: 10px;
}

.sticky {
  position: fixed;
  top: 0px;
  width: 100%;
}
.sticky + .main-content {
  padding-top: 102px;
}

#veil {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  opacity: 0.8;
  z-index: -1;
}
/* Style the footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
}
/* Styles the sidenav */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.section {
  scroll-margin-top: 120px;
}