html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: "Lato",sans-serif;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  background-color: #f1f1f1;
  transition: all .5s;
}

.main-header {
  background-color: #ddd;
  padding: 1px;
  text-align: center;
}

.mini-header {
  background-color: #ddd;
  width: 100%;
  position: absolute;
  top: -42px;
  transition: all .5s;
}

.mini-header-content {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  /* padding: 16px; */
}

.mini-h3 {
  margin: 10px 0px;
}

.header-menu {
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
  margin-left: auto;
  margin-right: auto;
  max-width: 1140px;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.sticky {
  position: fixed;
  top: 42px;
  width: 100%;
}

.sticky + .main-content {
  padding-top: 102px;
}

/* Style the main-content */
.main-content {
  padding: 16px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1140px;
  line-height: 2em;
}

#veil {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.0);
  opacity: 0.8;
  z-index: -1;
}

/* Style the footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
}

/* Styles the sidenav */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.hamburguer {
  cursor: pointer;
  float: left;
  display: block;
  text-align: center;
  padding: 9px 20px;
  text-decoration: none;
}

.hamburguer:hover {
  background-color: #ddd;
  color: black;
}

.hamburguer:hover .bar {
  background-color: black;
}

.hamburguer.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburguer.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburguer.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px 0;
  transition: all 0.3s ease;
  background-color: #f2f2f2;
}

#content {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.section {
  scroll-margin-top: 120px;
}